<!DOCTYPE html>
<html lang="zh" xmlns:th="http://www.thymeleaf.org" >
<head>
    <th:block th:include="include :: header('修改教学工作量')" />
</head>
<body class="white-bg">
    <div class="wrapper wrapper-content animated fadeInRight ibox-content">
        <div class="form-horizontal m" id="form-work-edit" th:object="${work}">
            <input  th:field="*{id}" type="hidden">
            <div class="form-group">    
                <label class="col-sm-3 control-label">学院：</label>
                <div class="col-sm-8">
                    <input  th:field="*{academy}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">年级：</label>
                <div class="col-sm-8">
                    <input  th:field="*{grade}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">课程代码：</label>
                <div class="col-sm-8">
                    <input  th:field="*{courseCode}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">课程名称：</label>
                <div class="col-sm-8">
                    <input  th:field="*{courseName}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">专业名称：</label>
                <div class="col-sm-8">
                    <input  th:field="*{major}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">班级名称：</label>
                <div class="col-sm-8">
                    <input  th:field="*{className}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">班级人数：</label>
                <div class="col-sm-8">
                    <input  th:field="*{number}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">学分：</label>
                <div class="col-sm-8">
                    <input  th:field="*{credit}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">学时：</label>
                <div class="col-sm-8">
                    <input  th:field="*{hours}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">实验学时：</label>
                <div class="col-sm-8">
                    <input  th:field="*{experimentHours}" class="form-control" type="text" readonly>
                </div>
            </div>
            <div class="form-group">    
                <label class="col-sm-3 control-label">审核人：</label>
                <div class="col-sm-8">
                    <input  th:field="*{reviewer}" class="form-control" type="text" readonly>
                </div>
            </div>
        </div>

        <form class="form-horizontal m" id="form-check-edit" th:object="${check}">
            <input name="id" th:field="*{id}" type="hidden">
            <input name="status" th:field="*{status}" type="hidden">
            <input name="reviewer" th:field="*{reviewer}" type="hidden">
            <input name="workId" th:field="*{workId}" type="hidden">
            <input name="checked" th:field="*{checked}" type="hidden">
            <input name="createTime" th:field="*{createTime}" type="hidden">
            <input name="updateTime" th:field="*{updateTime}" type="hidden">

            <div class="form-group">
                <label class="col-sm-3 control-label">是否通过：</label>
                <div class="col-sm-8">
                    <select name="passed" class="form-control m-b" th:with="type=${@dict.getType('pass_yes_no')}">
                        <option th:each="dict : ${type}" th:text="${dict.dictLabel}" th:value="${dict.dictValue}" th:field="*{passed}"></option>
                    </select>
                </div>
            </div>
            <div class="form-group">
                <label class="col-sm-3 control-label">审核备注：</label>
                <div class="col-sm-8">
                    <textarea name="remark" th:field="*{remark}"class="form-control" rows="3"></textarea>
                </div>
            </div>
        </form>

    </div>
    <th:block th:include="include :: footer" />
    <script type="text/javascript">
        var prefix = ctx + "count/work";
        $("#form-work-edit").validate({
            focusCleanup: true
        });

        function submitHandler() {
            if ($.validate.form()) {
                $.operate.save(prefix + "/checkSave", $('#form-check-edit').serialize());
            }
        }
    </script>
</body>
</html>